---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}

      <!-- 구글 스프레드시트를 임베드 -->
      <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTSlx8MLFWPRLKVTj_ZKpiAu7zlYZTgQeB2lBd8xQAAIbE_fbVqiMe0UUF_kf365OniipIYmryJE7lw/pubhtml?gid=1461925630&amp;single=true&amp;widget=true&amp;headers=false" width="100%" height="600"></iframe>
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
